---
layout: default
---

{% include nav.html %}
{% include header.html %}

<section class="about-page">
  <h2 class="title">we focus on three essential elements</h2>
  <div class="list">
    <div class="list__contain">
      <p class="list__title">quality</p>
      <i class="list__icon fa fa-trophy"></i>
      <p class="list__info">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Suspendisse posuere arcu at augue fringilla bibendum. Donec dapibus, nisi quis scelerisque tincidunt, lorem odio elementum ipsum, ac placerat velit enim eget dui.
        Curabitur non lobortis magna
      </p>
    </div>
    <div class="list__contain">
      <p class="list__title">customer experience</p>
      <i class="list__icon fa fa-thumbs-up"></i>
      <p class="list__info">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Suspendisse posuere arcu at augue fringilla bibendum. Donec dapibus, nisi quis scelerisque tincidunt, lorem odio elementum ipsum, ac placerat velit enim eget dui.
        Curabitur non lobortis magna
      </p>
    </div>
    <div class="list__contain">
      <p class="list__title">environment</p>
      <i class="list__icon fa fa-fort-awesome"></i>
      <p class="list__info">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Suspendisse posuere arcu at augue fringilla bibendum. Donec dapibus, nisi quis scelerisque tincidunt, lorem odio elementum ipsum, ac placerat velit enim eget dui.
        Curabitur non lobortis magna
      </p>
    </div>
  </div>
</section>
<section class="info">
  <h2 class="info__title">the company</h2>
  <p class="info__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse posuere arcu at augue fringilla bibendum. Donec dapibus, nisi quis scelerisque tincidunt, lorem odio elementum ipsum, ac placerat velit enim eget dui. Curabitur non lobortis magna</p>
  <p class="info__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse posuere arcu at augue fringilla bibendum. Donec dapibus, nisi quis scelerisque tincidunt, lorem odio elementum ipsum, ac placerat velit enim eget dui. Curabitur non lobortis magna</p>
</section>
<section class="info">
  <h2 class="info__title">the founders</h2>
  <p class="info__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse posuere arcu at augue fringilla bibendum. Donec dapibus, nisi quis scelerisque tincidunt, lorem odio elementum ipsum, ac placerat velit enim eget dui. Curabitur non lobortis magna</p>
  <p class="info__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse posuere arcu at augue fringilla bibendum. Donec dapibus, nisi quis scelerisque tincidunt, lorem odio elementum ipsum, ac placerat velit enim eget dui. Curabitur non lobortis magna</p>
</section>
