---
layout: default
---

{% include nav.html %}
{% include header.html %}

<section class="event">
  <h2 class="title title--event">let us add a special touch to your event</h2>
  <div class="event__contain">
    <img class="event__img" src="assets/birthday.jpg" alt="a birthday cake with candles">
    <div>
      <p class="event__subtitle">Zero Degrees catering services</p>
      <ul class="event__list">
        <li>weddings</li>
        <li>birthdays</li>
        <li>anniversaries</li>
        <li>any special occasion</li>
      </ul>
    </div>
  </div>
</section>
<section class="quote">
  <h2 class="title title--quote">get a quote</h2>
  <p class="button"> <a class="button__link" href="#">open form</a> </p>
</section>
<section class="gallery">
  {% for fruit in site.data.gallery %}
  <img class="gallery__img gallery__{{ forloop.index }}" src="{{ fruit.img }}" alt="{{ fruit.title }}">
  {% endfor %}
</section>
