---
layout: default
---

{% include nav.html %}
{% include header.html %}

<section class="event">
  <h2 class="event__title">let us add a special touch to your event</h2>
  <div class="event__contain">
    <img class="event__img" src="assets/birthday.jpg" alt="a birthday cake with candles">
    <div>
      <p class="event__subtitle">Zero Degrees catering services</p>
      <ul class="event__list">
        <li>weddings</li>
        <li>birthdays</li>
        <li>anniversaries</li>
        <li>any special occasion</li>
      </ul>
    </div>
  </div>
</section>
