---
layout: default
---

{% include nav.html %}

{% include header.html %}

<section class="about">
  <h2 class="about__heading">zero degrees</h2>
  <div class="about__cards">
    <div class="about__card">
      <p class="about__title">location</p>
      <i class="fa fa-map-marker"></i>
      <p class="about__button"> <a class="about__link" href="location.html">find your spot</a> </p>
    </div>
    <div class="about__card">
      <p class="about__title">event</p>
      <i class="fa fa-calendar-o" aria-hidden="true"></i>
      <p class="about__button"> <a class="about__link" href="location.html">yup, we cater too</a> </p>
    </div>
    <div class="about__card">
      <p class="about__title">about us</p>
      <i class="fa fa-question-circle"></i>
      <p class="about__button"> <a class="about__link" href="location.html">meet the family</a> </p>
    </div>
  </div>
</section>
