---
layout: default
---

{% include nav.html %}

{% include header.html %}

<section class="about">
  <h2 class="about__heading">zero degrees</h2>
  <div class="about__cards">
    <div class="about__card">
      <p class="about__title">location</p>
      <i class="fa fa-map-marker"></i>
      <p class="about__button"> <a class="about__link" href="location.html">find your spot</a> </p>
    </div>
    <div class="about__card">
      <p class="about__title">event</p>
      <i class="fa fa-calendar-o" aria-hidden="true"></i>
      <p class="about__button"> <a class="about__link" href="location.html">yup, we cater too</a> </p>
    </div>
    <div class="about__card">
      <p class="about__title">about us</p>
      <i class="fa fa-question-circle"></i>
      <p class="about__button"> <a class="about__link" href="location.html">meet the family</a> </p>
    </div>
  </div>
</section>
<section class="gallery">
  {% for fruit in site.data.gallery %}
  <img class="gallery__img gallery__{{ forloop.index }}" src="{{ fruit.img }}" alt="{{ fruit.title }}">
  {% endfor %}
</section>
<section class="menu">
  <h2 class="menu__title">
    explore the
    <br />
    menu
  </h2>
  <div class="menu__cards">
    <div class="menu__card">
      <img class="menu__img" src="assets/group-fruit.jpg" alt="a picture of fruits">
      <p class="menu__button"> <a class="menu__link" href="fruit.html">our fruit</a> </p>
    </div>
    <div class="menu__card">
      <img class="menu__img" src="assets/group-fruit3.jpg" alt="a picture of vegetables">
      <p class="menu__button"> <a class="menu__link" href="vegetable.html">our vegetables</a> </p>
    </div>
    <div class="menu__card">
      <img class="menu__img" src="assets/all-food.jpg" alt="a picture of vegetables">
      <p class="menu__button"> <a class="menu__link" href="food.html">all food</a> </p>
    </div>
  </div>
</section>
<section class="background-info">
  <h2 class="background-info__title">
    <span>fresh</span> from
    <br />
    the <span>start.</span>
  </h2>
  <p class="background-info__desc">
    MADE TO EAT, HANDCRAFTED, USING REAL, FRESH, AND THE HIGHEST QUALITY GARDEN.
  </p>
</section>
