---
layout: default
---

{% include nav.html %}
{% include header.html %}


<section class="locations">
  <div class="locations__contain">
    <h2 class="title title--locations"> california</h2>
    <div class="locations__list">
      <div class="locations__info">
        <p class="locations__city">Long Beach, CA</p>
        <p class="locations__address">95 S Pine Ave, Long Beach, CA 90802 | <a href="#" class="locations__map">map</a> </p>
        <p class="locations__numb">(562) 555 5555</p>
      </div>
      <div class="locations__info">
        <p class="locations__city">Long Beach, CA</p>
        <p class="locations__address">95 S Pine Ave, Long Beach, CA 90802 | <a href="#" class="locations__map">map</a> </p>
        <p class="locations__numb">(562) 555 5555</p>
      </div>
      <div class="locations__info">
        <p class="locations__city">Long Beach, CA</p>
        <p class="locations__address">95 S Pine Ave, Long Beach, CA 90802 | <a href="#" class="locations__map">map</a> </p>
        <p class="locations__numb">(562) 555 5555</p>
      </div>
      <div class="locations__info">
        <p class="locations__city">Long Beach, CA</p>
        <p class="locations__address">95 S Pine Ave, Long Beach, CA 90802 | <a href="#" class="locations__map">map</a> </p>
        <p class="locations__numb">(562) 555 5555</p>
      </div>
      <div class="locations__info">
        <p class="locations__city">Long Beach, CA</p>
        <p class="locations__address">95 S Pine Ave, Long Beach, CA 90802 | <a href="#" class="locations__map">map</a> </p>
        <p class="locations__numb">(562) 555 5555</p>
      </div>
    </div>
  </div>
  <div class="locations__contain">
    <h2 class="title title--locations">New York</h2>
    <div class="locations__list">
      <div class="locations__info">
        <p class="locations__city">Long Beach, CA</p>
        <p class="locations__address">95 S Pine Ave, Long Beach, CA 90802 | <a href="#" class="locations__map">map</a> </p>
        <p class="locations__numb">(562) 555 5555</p>
      </div>
      <div class="locations__info">
        <p class="locations__city">Long Beach, CA</p>
        <p class="locations__address">95 S Pine Ave, Long Beach, CA 90802 | <a href="#" class="locations__map">map</a> </p>
        <p class="locations__numb">(562) 555 5555</p>
      </div>
      <div class="locations__info">
        <p class="locations__city">Long Beach, CA</p>
        <p class="locations__address">95 S Pine Ave, Long Beach, CA 90802 | <a href="#" class="locations__map">map</a> </p>
        <p class="locations__numb">(562) 555 5555</p>
      </div>
      <div class="locations__info">
        <p class="locations__city">Long Beach, CA</p>
        <p class="locations__address">95 S Pine Ave, Long Beach, CA 90802 | <a href="#" class="locations__map">map</a> </p>
        <p class="locations__numb">(562) 555 5555</p>
      </div>
      <div class="locations__info">
        <p class="locations__city">Long Beach, CA</p>
        <p class="locations__address">95 S Pine Ave, Long Beach, CA 90802 | <a href="#" class="locations__map">map</a> </p>
        <p class="locations__numb">(562) 555 5555</p>
      </div>
    </div>
  </div>
</section>
