---
layout: default
---

{% include nav.html %}
{% include header.html %}

<div class="brochures">
  <div class="brochures__header brochures__fruit">
    <p>fruit</p>
  </div>
  <div class="brochures__menu">
    <div class="brochures__item">
      <p class="brochures__measurement">1/2</p>
      <p class="brochures__food">orange</p>
      <p class="brochures__description ">a orange fruit that is juicy</p>
      <p class="brochures__food">apple</p>
      <p class="brochures__description ">a red fruit that taste really good</p>
      <p class="brochures__food">tangerine</p>
      <p class="brochures__description ">a orange fruit that is juicy</p>
      <p class="brochures__food">lime</p>
      <p class="brochures__description ">a light green fruit that is sour</p>
    </div>
    <div class="brochures__item">
      <p class="brochures__measurement">1/2</p>
      <p class="brochures__food">orange</p>
      <p class="brochures__description ">a orange fruit that is juicy</p>
      <p class="brochures__food">apple</p>
      <p class="brochures__description ">a red fruit that taste really good</p>
      <p class="brochures__food">tangerine</p>
      <p class="brochures__description ">a orange fruit that is juicy</p>
      <p class="brochures__food">lime</p>
      <p class="brochures__description ">a light green fruit that is sour</p>
    </div>
    <div class="brochures__item">
      <p class="brochures__measurement">1/2</p>
      <p class="brochures__food">orange</p>
      <p class="brochures__description ">a orange fruit that is juicy</p>
      <p class="brochures__food">apple</p>
      <p class="brochures__description ">a red fruit that taste really good</p>
      <p class="brochures__food">tangerine</p>
      <p class="brochures__description ">a orange fruit that is juicy</p>
      <p class="brochures__food">lime</p>
      <p class="brochures__description ">a light green fruit that is sour</p>
    </div>
  </div>
  <div class="brochures__footer">
    <p>fruits and vegetables are recommended</p>
  </div>
</div>

<div class="brochures">
  <div class="brochures__header brochures__smoothie">
    <p>smoothies</p>
  </div>
  <div class="brochures__menu">
    <div class="brochures__item">
      <p class="brochures__measurement">24OZ/32OZ</p>
      <p class="brochures__food">orange</p>
      <p class="brochures__description ">a orange fruit that is juicy</p>
      <p class="brochures__food">apple</p>
      <p class="brochures__description ">a red fruit that taste really good</p>
      <p class="brochures__food">tangerine</p>
      <p class="brochures__description ">a orange fruit that is juicy</p>
      <p class="brochures__food">lime</p>
      <p class="brochures__description ">a light green fruit that is sour</p>
    </div>
    <div class="brochures__item">
      <p class="brochures__measurement">24OZ/32OZ</p>
      <p class="brochures__food">orange</p>
      <p class="brochures__description ">a orange fruit that is juicy</p>
      <p class="brochures__food">apple</p>
      <p class="brochures__description ">a red fruit that taste really good</p>
      <p class="brochures__food">tangerine</p>
      <p class="brochures__description ">a orange fruit that is juicy</p>
      <p class="brochures__food">lime</p>
      <p class="brochures__description ">a light green fruit that is sour</p>
    </div>
    <div class="brochures__item">
      <p class="brochures__measurement">24OZ/32OZ</p>
      <p class="brochures__food">orange</p>
      <p class="brochures__description ">a orange fruit that is juicy</p>
      <p class="brochures__food">apple</p>
      <p class="brochures__description ">a red fruit that taste really good</p>
      <p class="brochures__food">tangerine</p>
      <p class="brochures__description ">a orange fruit that is juicy</p>
      <p class="brochures__food">lime</p>
      <p class="brochures__description ">a light green fruit that is sour</p>
    </div>
  </div>
  <div class="brochures__footer">
    <p>smoothies are recommended</p>
  </div>
</div>
<section class="location">
  <h2 class="location__title">Find a location near you</h2>
  <p class="button"> <a class="button__link" href="{{ site.baseurl }}/location.html">locations</a> </p>
</section>
