<footer class="footer">
  {% include assets/chicken.svg %}

  <p class="footer__title">Zero degrees</p>

  <i class="footer__social fa fa-instagram"></i>

  <ul class="footer__ul">
    <li class="footer__li"> <a href="{{ site.baseurl }}/menu.html">menu</a> </li>
    <li class="footer__li">locations</li>
    <li class="footer__li">about</li>
    <li class="footer__li">events</li>
    <li class="footer__li">Franchise</li>
    <li class="footer__li">Contact</li>
  </ul>

  <p class="footer__copy">© 2018 pynell Company. All rights reserved. Site by <a href="#">pynell</a>.</p>
</footer>
