<nav>
  <div class="center">
    {% include assets/chicken.svg %}
    <h1 class="center__title"> <a href="/">ZERO DEGREES</a> </h1>
  </div>
  <ul class="nav__desktop">
    <li> <a href="{{ site.baseurl }}/menu.html">menu</a> </li>
    <li>locations</li>
    <li>about</li>
    <li>events</li>
    <li>Franchise</li>
    <li>Contact</li>
  </ul>
  {% include assets/responsive-menu.svg %}
</nav>
<div class="responsive-nav">
  <ul class="responsive-nav__list-items">
    <li><a href="{{ site.baseurl }}/menu.html">menu</a></li>
    <li>locations</li>
    <li>about</li>
    <li>events</li>
    <li>Franchise</li>
    <li>Contact</li>
  </ul>
</div>
