header {
  background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)),
                    url({{ site.baseurl }}/assets/hamburger.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;

  height: 80vh;
}


nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

i.fa {
  font-size: 60px;
}

.responsive-nav__list-items {
  color: #fff;
  font-size: 50px;

  list-style-type: none;
  padding: 0;
  margin-top: 69px;
  margin-left: 30px;
}

.responsive-nav__list-items li {
  line-height: 1.5;
  text-transform: uppercase;
}

#menu-hamburger {
  margin: 0 15px;
  height: auto;

  position: fixed;
  right: 0;
  z-index: 2;
}

#menu-hamburger rect {
  transition: all 0.5s;
}

.hamburger-menu__rect1 {
  transform: rotate(35deg) translate(3px, -1px);
}

.hamburger-menu__rect2 {
  transform: rotate(-35deg) translate(-7px, 0);
}

.hamburger-menu__rect3 {
  opacity: 0;
}
