footer {
  background-color: #040404
}

header.home {
  background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .1)),
                    url({{ site.baseurl }}/assets/peppers.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;

  height: 80vh;
}

header.event {
  background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .1)),
                    url({{ site.baseurl }}/assets/events.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  height: 80vh
}


nav {
  align-items: center;
  display: flex;
  justify-content: space-between;

  background-color: #1a1a1a;
  color: #fff;
  fill: #fff;
}

.brochures {
  background-color: #1a1a1a;
  color: #fff;

  margin: 10px 0;
  padding: 25px;
}

.brochures__header {
  align-items: center;
  justify-content: center;
  display: flex;

  color: #000;
  font-size: 50px;
  font-weight: 600;
  text-transform: uppercase;

  width: 100%;
  height: 250px;
}

.brochures__fruit {
  background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, 0)), url({{ site.baseurl }}/assets/blood-orange.jpg);
  background-position: center;
}

.brochures__smoothie {
  background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, 0)), url({{ site.baseurl }}/assets/smoothie.jpg);
  background-size: contain;
  background-position: center;
}

.brochures__food {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;

  letter-spacing: 2px;
  margin: 10px 0 5px 0;
}

.brochures__footer {
  color: #fff;
  font-weight: 600;

  margin: 40px 0 0 0;
  text-align: center;
  text-transform: uppercase;
}

.brochures__footer p {
  margin: 0;
}

.brochures__description {
  margin: 0;
  max-width: 250px;
}

.brochures__item {
  flex: 1 1 auto;
  margin: 0 10px 0 0;
}

.brochures__menu {
  display: flex;
  flex-direction: column;
}

.brochures__measurement {
  border-bottom: 1px #fff solid;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: right;
}

.event__contain {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.event__title, .quote__title {
  font-weight: 900;
  font-size: 40px;
  text-transform: uppercase;

  text-align: center;
}

.event__img {
  margin: 30px 0;
  width: 100%;
}

.event__subtitle {
  font-size: 25px;
  letter-spacing: 1px;
  text-transform: uppercase;

  margin: 0 10px;
}

.event__list {
  font-size: 20px;
  font-style: italic;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.location {
  text-align: center;
  padding: 50px 0;
  margin: 10px 0;
}

.location__title {
  font-size: 40px;
  font-weight: 900;

  margin: 40px 0;
  text-transform: uppercase;
}

.locations-header {
  background-image: url({{ site.baseurl }}/assets/group-fruit.jpg);
  background-attachment: fixed;

  height: 80vh;
}

.locations-header p {
  right: 10%;
}

.locations__address {
  color: #121212;
}

.locations {
  margin: 30px;
  padding: 30px 0;
}

.locations__city {
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.locations__info {
  margin: 10px 0;
}

.locations__list {
  display: flex;
  flex-direction: column;
}

.locations__map {
  color: #a81f1f;
}

.locations__title {
  font-weight: 900;
  font-size: 35px;
  letter-spacing: 1px;
  margin: 10px 0;
  text-transform: uppercase;
}


.nav__desktop {
  display: none;
}

i.fa {
  font-size: 60px;
}

.responsive-nav__list-items {
  color: #fff;
  font-size: 35px;

  list-style-type: none;
  padding: 0;
  margin-top: 69px;
  margin-left: 30px;
}

.responsive-nav__list-items li {
  line-height: 1.5;
  text-transform: uppercase;
}

#menu-hamburger {
  margin: 0 15px;
  height: auto;

  position: fixed;
  right: 0;
  z-index: 2;
}

#menu-hamburger rect {
  transition: all 0.5s;
}

.hamburger-menu__rect1 {
  transform: rotate(35deg) translate(3px, -1px);
}

.hamburger-menu__rect2 {
  transform: rotate(-35deg) translate(-7px, 0);
}

.hamburger-menu__rect3 {
  opacity: 0;
}



@media screen and (min-width: 961px) {
  #menu-hamburger {
    display: none;
  }

  .event__contain {
    flex-direction: row;
    align-items: unset;
  }

  .event__title {
    margin: 50px 0;
  }

  .event__img {
    height: 350px;
    margin: 0;
    width: 46%;
  }

  .locations__info {
    padding: 15px 15px 15px 0;
    width: 25%;
  }

  .locations__list {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
  }


  .nav__desktop {
    display: flex;
    font-size: 15px;
    list-style-type: none;
    color: #fff;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  .nav__desktop li {
    margin: 0 16px;
  }
}
