.about {
  padding: 50px 0;
}

.about__button, .menu__button {
  margin: 30px 0;
  padding: 25px;
}

.about__cards, .menu__cards {
  font-size: 20px;

  margin: 0 20px;
  text-align: center;
}

.about__card, .menu__card {
  margin: 30px 0;
  padding: 30px 0;
}

.about__heading {
  font-size: 30px;

  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.about__title {
  margin: 30px 0;

  letter-spacing: 1px;
  text-transform: uppercase;
}

.about__link, .menu__link {
  background-color: #1f1f1f;
  color: #fff;

  padding: inherit;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
}

.background-info {
  background-attachment: fixed;
  background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .1)),
                    url({{ site.baseurl }}/assets/fruit-bowl.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 18% 26%;

  height: 70vh;
  text-align: center;
}

.background-info__desc {
  color: #fff;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 1.5;

  margin: 0 auto;
  max-width: 250px;
}

.background-info__title {
  color: #191818;
  font-size: 50px;

  line-height: 0.7;
  padding-top: 80px;
  }

.background-info__title span {
  font-weight: 900;
}


.center {
  display: flex;
  align-items: center;
}

.center__svg {
  margin: 0 15px;
}

.gallery__img, .menu__img {
  width: 100%;
}

.menu__title {
  font-size: 30px;
  font-weight: 900;

  letter-spacing: 1px;
  padding: 50px 0;
  text-align: center;
  text-transform: uppercase;
}
