.responsive-nav {
  background-color: rgba(0, 0, 0, 0.7);

  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  z-index: 1;

  transform: translateX(100%);
  transition: transform 0.5s;
}

.menu-open {
  transform: translateX(0);
}

#menu-hamburger {
  margin: 0 15px;
  height: 84px;

  position: fixed;
  right: 0;
  top: 0;
  z-index: 2;
}

#menu-hamburger rect {
  transition: all 0.5s;
}

.hamburger-menu__rect1 {
  transform: rotate(35deg) translate(3px, -1px);
}

.hamburger-menu__rect2 {
  transform: rotate(-35deg) translate(-7px, 0);
}

.hamburger-menu__rect3 {
  opacity: 0;
}
